<div class="container my-3">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About Market List App</h5>
                    <p class="card-text">This app serves the purpose to keep a list of anything you want. We can create
                        a new list, add more lists, mark the lists whose work is done, and also delete them. The lists
                        are stored in your local browser, so that even if you close the tab and revisit the webpage you
                        can still get your saved lists backs. We introduced another feather called 'checkbox' or 'Done'
                        so when you are done with a list you can mark that list as Done and it will strike that list and
                        still keep it saved so that you can keep a reference that this work is completed.
                    </p>
                    <a routerLink="/" class="btn btn-primary">Try App!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About Developer</h5>
                    <p class="card-text">Hi. I'm Mohammed Asad Ansari.
                        I am a student of IIIT-Bangalore. Welcome to my corner on the world wide web.
                        My interests are Algorithms, Data Science, Analytics, Machine Learning, and Competitive
                        Programming.
                        I love to learn new things and new technologies. I care about building impactful, accecible and
                        inclusive tech for everyone. I care deeply about diversity and inclusion 🖤. If I am not coding,
                        you can find me discussing ideas, gossiping with people or playing chess, football, cricket,
                        table tennis or some other sport. I am also fond of watching movies, webseries.
                    </p>
                    <a href="https://imasadansari.github.io/" class="btn btn-primary">Know more!</a>
                </div>
            </div>
        </div>
    </div>
</div>